.youtube-bg {
    background-color: #ed302f !important;
    color: #fff !important
}



.facebook-bg {
    background-color: #4264aa !important;
    color: #fff !important
}


.twitter-bg {
    background-color:#55acee !important;
    color: #fff !important
}




.google-bg {
    background-color:#dd4b39  !important;
    color: #fff !important
}





.linkedin-bg {
    background-color:#0092e4  !important;
    color: #fff !important
}


.instagram-bg {
    background-color:#2e5e86  !important;
    color: #fff !important
}





.pinterest-bg {
    background-color:#c61118  !important;
    color: #fff !important
}




.vk-bg {
    background-color:#4c75a3  !important;
    color: #fff !important
}



.stack-overflow-bg {
    background-color:#ffac44  !important;
    color: #fff !important
}



.slack-bg {
    background-color:#56b68b   !important;
    color: #fff !important
}



.github-bg {
    background-color:#333   !important;
    color: #fff !important
}



.medium-bg {
    background-color:#333   !important;
    color: #fff !important
}



.comment-bg {
    background-color:#30cfc0   !important;
    color: #fff !important
}



.email-bg {
    background-color:#4b515d   !important;
    color: #fff !important
}




.dribbble-bg {
    background-color:#ec4a89   !important;
    color: #fff !important
}



.reddit-bg {
    background-color:#ff4500   !important;
    color: #fff !important
}


.whatsapp-bg {
    background-color:#25d366    !important;
    color: #fff !important
}






.discord-bg {
    background-color:#7289da    !important;
    color: #fff !important
}


